{% extends 'buyer/base.html' %}
{% block title %}
商品的展示页
{% endblock %}

{% block style %}
{% endblock %}
{% block ss %}
    <div class="navbar_con" xmlns="http://www.w3.org/1999/html">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/Buyer/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block car %}
        <div class="guest_cart fr">
			<a href="/Buyer/car/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
{% endblock %}
{% block content %}
    <div class="breadcrumb">
		<a href="/" >全部分类</a>
		<span>></span>
		<a href="#" >{{ goods_type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">

				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="/Buyer/show_shop/{{  goods_first.id }}"><img src="/static/{{ goods_first.goods_image }}"></a>
						<h4><a href="/Buyer/show_shop/{{  goods_first.id }}">{{ goods_first.name }}</a></h4>
						<div class="prize">￥{{ goods_first.goods_price }}</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="#" class="active">默认</a>
                <a href="#">价格</a>
                <a href="#">人气</a>
            </div>
			<ul class="goods_type_list clearfix">
                {% for goods in goods_list %}

                        <li>
                        <a href="/Buyer/show_shop/{{ goods.id }}"><img src="/static/{{ goods.goods_image }}"></a>
                        <h4><a href="/Buyer/show_shop/{{ goods.id }}">{{ goods.goods_name }}</a></h4>
                            <input type="hidden" id="goods_id" value="{{ goods.id }}">
                            <input type="hidden" id="count" value=1>
                        <div class="operate">
                            <span class="prize">￥{{ goods.goods_price }}</span>
                            <span class="unit">{{ goods.goods_price }}/500g</span>
                            <a href="/Buyer/list_add/?count=1&goods_id={{ goods.id }}"  class="add_goods" title="加入购物车"></a>

                        </div>
                        </li>
                {% endfor %}

            </ul>
            <div class="pagenation">
                <a href="#">上一页</a>
                <a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}