{% extends 'buyer/base.html' %}

{% block title %}
商品的详情页面
{% endblock %}
{% block style %}
<script src="/static/buyer/js/jquery.min.js"></script>
{% endblock %}
{% block ss %}
   <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/Buyer/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block car %}
        <div class="guest_cart fr">
			<a href="/Buyer/car/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
{% endblock %}
{% block content %}
    <div class="breadcrumb">
		<a href="/" >全部分类</a>
		<span>></span>
		<a href="/Buyer/show_goodlists/?type_id={{ goods_type.id }}" >{{ goods_type.name }}</a>
		<span>></span>
		<a href="#" >商品详情</a>
	</div>
    <div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img style="width: 350px;height: 350px;" src="/static/{{ goods.goods_image }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.goods_introduce  }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
            <form method="post" action="/Buyer/pay_order/">
                {% csrf_token %}
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" name="count" class="num_show fl form-control" id="number" value="1">
                    <input type="hidden" id="goods_id" name="goods_id" class="num_show fl" value="{{ goods.id }}">
                    <a href="#" onclick="return false" class="add fr" id="add">+</a>

					<a href="#"  onclick="return false" class="minus fr" id="minus">-</a>
				</div>
			</div>
                <div class="total">总价：<em id="money" >{{ goods.goods_price }}</em><em>元</em></div>
			<div class="operate_btn" id="submit">
                <input type="submit" class="buy_btn"  value="立即购买">
				<a href="#"  onclick="return false" id="car" class="add_cart" >加入购物车</a>
			</div>
            </form>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
    </div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_description |safe }} </dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
           $('#number').blur(
               function () {
                   var value = $('#number').val();
                   var url = '/Buyer/ajax_show/?mun='+value+'&goods_id='+{{ goods.id }};
                   $.ajax(
                       {
                           url:url,
                           type:'get',
                           data:'',
                           success:function (data) {
                              var s = data.status;
                              var moneys = data.money;
                              var hh = moneys ;
                              console.log(s);
                              if(s == 'error'){
                                $('#submit').html('<a href="#" class="buy_btn" >立即购买</a>\n' +
                                    '\t\t\t\t<a href="#" class="add_cart" >加入购物车</a>');
                              }else {
                                $('#submit').html('<a href="/Buyer/pay_order/" class="buy_btn" >立即购买</a>\n' +
                                    '\t\t\t\t<a href="/Buyer/adds_car/?goods_id={{ goods.id }}&" class="add_cart" >加入购物车</a>');
                                $('#money').text(hh.toFixed(1));
                              }
                            },
                            error:function (error) {
                              console.log(error)
                            }
                       }
                   )
               }
           )
    </script>
    <script>
           $('#add').click(
               function () {
                   var value = $('#number').val();
                   var url = '/Buyer/ajax_add/?muns='+value+'&goods_id='+{{ goods.id }};
                   $.ajax(
                       {
                           url:url,
                           type:'get',
                           data:'',
                           success:function (data) {
                              var number = data.number;
                              var s = data.status;
                              var moneys = parseFloat(data.money,1);
                              hh = moneys ;
                              console.log(moneys);
                              if(s == 'error'){
                                $('#number').val(number)
                              }else {
                                $('#number').val(number);
                                $('#money').text(hh.toFixed(1));
                              }
                            },
                            error:function (error) {
                              console.log(error)
                            }
                       }
                   )
               }
           )
    </script>
    <script>
           $('#minus').click(
               function () {
                   var value = $('#number').val();
                   var url = '/Buyer/ajax_minus/?muns='+value+'&goods_id='+{{ goods.id }};
                   $.ajax(
                       {
                           url:url,
                           type:'get',
                           data:'',
                           success:function(data){
                           var number = data.number;
                              var s = data.status;
                              console.log(s);
                              var moneys = data.money;
                              var hh = moneys  ;
                              if(s == 'error'){
                                $('#number').val(number)
                              }else {
                                $('#number').val(number);
                                $('#money').text(hh.toFixed(1));
                              }
                            },
                            error:function (error) {
                              console.log(error)
                            }
                       }
                   )
               }
           )
    </script>
    <script>
            $('#car').click(
                function () {
                    var count = $('#number').val();
                    var goods_id = $('#goods_id').val();
                    var sendData = {
                        'count' : count,
                        'goods_id' : goods_id,
                        'csrfmiddlewaretoken' : '{{ csrf_token }}'
                    };
                    console.log(sendData);
                    var url = '/Buyer/adds_car/';
                    $.ajax(
                        {
                            url:url,
                            type:'post',
                            data:sendData,
                            success:function (data) {
                                alert(data.data)
                            },
                            error:function (error) {
                                console.log(error)
                            }
                        }
                    )
                }
            )
    </script>
{% endblock %}