{% extends 'buyer/base.html' %}
{% block title %}
    用户中心——个人信息页面
{% endblock %}
{% block name %}<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>{% endblock %}
{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/Buyer/user_infor/" class="active">· 个人信息</a></li>
				<li><a href="/Buyer/user_order/">· 全部订单</a></li>
				<li><a href="/Buyer/user_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ result.name }}</li>
							<li><span>联系方式：</span>{{ result.phone }}</li>
							<li><span>联系地址：</span>{{ result.address }}</li>
						</ul>
				</div>

				<h3 class="common_title2">最近浏览 &nbsp;&nbsp;| &nbsp;&nbsp;<a style="color: black" class="add_goods" href="/Buyer/del_look/">删除记录</a></h3>
				<div class="has_view_list">
            <ul class="goods_type_list clearfix">
               {% for history in history_list %}
				<li>
					<a href="/Buyer/show_shop/{{ history.goods_id }}"><img src="/static/{{ history.goods_image }}"></a>
					<h4><a href="/Buyer/show_shop/{{ history.goods_id }}">{{ history.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ history.goods_price }}</span>
						<span class="unit">{{ history.goods_price }}/500g</span>
						<a href="/Buyer/list_add/?count=1&goods_id={{ history.goods_id }}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                 {% endfor %}
			</ul>
		</div>
		</div>
	</div>

{% endblock %}
