{% extends 'store/blank.html' %}

{% block title %}
    展示商品类型页面
{% endblock %}

{% block style %}
<script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script src="/static/store/js/jquery.min.js"></script>
{% endblock %}
{% block lable %}
    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">添加商品类型</button>
{% endblock %}
{% block content %}
<table class="table table-bordered">
        <thead>
               <tr>
                   <th>商品类型的名称</th>
                   <th>商品类型的描述</th>
                   <th>商品类型的图片</th>
                   <th>操作</th>
               </tr>
        </thead>
        <tbody>
               {% for goods in page %}
                   <tr>
                       <td>{{ goods.name }}</td>
                       <td>
                           <input type="text" value="{{ goods.description }}">
                       </td>
                       <td><img  style="width: 240px;height:160px;" src="/static/{{ goods.picture }}" alt=""></td>
                       <td>
                           <a  class="btn btn-primary" href="/Store/dele_type/?id={{ goods.id }}">移除</a>
                       </td>
                   </tr>
               {% endfor %}
        </tbody>
    </table>
    <div class='row'>
      <div class="div col-sm-12 col-md-5">
          <div class="dataTables_info" id="dataTable_info">
              一共查到{{ pages }}数据|共{{ list_sum }}页|当前是第{{ page_num }}页
          </div>
      </div>
        <div class="col-sm-12 col-md-7">
           <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">

                        {% if go_page %}
                        <li class="paginate_button page-item next">
                        <a href="?keyword={{ keywords }}&page_num={{ go_page  }}"  class="page-link" >上一页</a>
                        </li>
                        {% else %}
                         <li class="paginate_button page-item next disabled">
                        <a href=""  class="page-link " >上一页</a>
                        </li>
                        {% endif %}
                    {% for p in page_range %}
                    <li class="paginate_button page-item active">
                        <a href="?keyword={{ keywords }}&page_num={{ p }}" class="page-link">{{ p }}</a>
                    </li>
                    {% endfor %}

                    {% if next_page %}
                    <li class="paginate_button page-item next">
                        <a href="?keyword={{ keywords }}&page_num={{ next_page }}" class="page-link">下一页</a>
                    </li>
                    {% else %}
                    <li class="paginate_button page-item next disabled">
                        <a href=""  class="page-link">下一页</a>
                    </li>
                    {% endif %}
                </ul>
           </div>
        </div>
      <div>

      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">添加类型</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form method="post" class="form" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control form-control-user" placeholder="类型名称" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-user " placeholder="类型描述" type="text" name="description">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-user" placeholder="类型图片" type="file" name="picture">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存类型</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock %}



